@model DisplayApp.Models.PhoneDataModel

<h1>Phone Data</h1>

<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Do Not Call</td>
            <td>@Model.data.dnc</td>
        </tr>
        <tr>
            <td>Alert Locked</td>
            <td>@Model.data.alert_locked</td>
        </tr>
        <tr>
            <td>Codec</td>
            <td>@Model.data.codec</td>
        </tr>
        <tr>
            <td>B Number</td>
            <td>@Model.data.bnumber</td>
        </tr>
        <tr>
            <td>Delivery</td>
            <td>@Model.data.delivery</td>
        </tr>
        <tr>
            <td>Emergency Address Code</td>
            <td>@Model.data.emergency_address_code</td>
        </tr>
        <tr>
            <td>UNumber Group</td>
            <td>@Model.data.unumber_group</td>
        </tr>
        <tr>
            <td>Urgent Call Type</td>
            <td>@Model.data.utype</td>
        </tr>
        <tr>
            <td>Delayed Call Type</td>
            <td>@Model.data.dtype</td>
        </tr>
        <tr>
            <td>Dial Plan</td>
            <td>@Model.data.dialplan</td>
        </tr>
        <tr>
            <td>Dial Number</td>
            <td>@Model.data.dnumber</td>
        </tr>
        <tr>
            <td>Plan</td>
            <td>@Model.data.plan</td>
        </tr>
        <tr>
            <td>Provision1</td>
            <td>@Model.data.provision1</td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td>@Model.data.timezone</td>
        </tr>
        <tr>
            <td>Region</td>
            <td>@Model.data.region</td>
        </tr>
        <tr>
            <td>Billing Type</td>
            <td>@Model.data.btype</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.data.name</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Model.data.description</td>
        </tr>
        <tr>
            <td>Emergency Address Line 2</td>
            <td>@Model.data.emergency_address2</td>
        </tr>
        <tr>
            <td>Line Type</td>
            <td>@Model.data.ltype</td>
        </tr>
        <tr>
            <td>Emergency Address Line 3</td>
            <td>@Model.data.emergency_address3</td>
        </tr>
        <tr>
            <td>Ringtone</td>
            <td>@Model.data.ringtone</td>
        </tr>
        <tr>
            <td>Ping</td>
            <td>@Model.data.ping</td>
        </tr>
        <tr>
            <td>Rpid</td>
            <td>@Model.data.rpid</td>
        </tr>
        <tr>
            <td>Emergency Location Code</td>
            <td>@Model.data.emergency_location_code</td>
        </tr>
        <tr>
            <td>Source</td>
            <td>@Model.data.source</td>
        </tr>
        <tr>
            <td>Last Caller</td>
            <td>@Model.data.lastcaller</td>
        </tr>
        <tr>
            <td>Caller ID Location</td>
            <td>@Model.data.callerid_location</td>
        </tr>
        <tr>
            <td>Missed Email</td>
            <td>@Model.data.missedemail</td>
        </tr>
        <tr>
            <td>Hardware Address</td>
            <td>@Model.data.hardware_address</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>@Model.data.language</td>
        </tr>
        <tr>
            <td>Do Not Disturb</td>
            <td>@Model.data.dnd</td>
        </tr>
        <tr>
            <td>Screen</td>
            <td>@Model.data.screen</td>
        </tr>
        <tr>
            <td>Presentation External</td>
            <td>@Model.data.presentation_external</td>
        </tr>
        <tr>
            <td>Record Group</td>
            <td>@Model.data.recordgroup</td>
        </tr>
        <tr>
            <td>Mailbox</td>
            <td>@Model.data.mailbox</td>
        </tr>
        <tr>
            <td>Expires</td>
            <td>@Model.data.expires</td>
        </tr>
        <tr>
            <td>LNumber</td>
            <td>@Model.data.lnumber</td>
        </tr>
        <tr>
            <td>PIN</td>
            <td>@Model.data.pin</td>
        </tr>
        <tr>
            <td>Emergency Uploaded</td>
            <td>@Model.data.emergency_uploaded</td>
        </tr>
        <tr>
            <td>Forwarding</td>
            <td>@Model.data.forwarding</td>
        </tr>
        <tr>
            <td>Alert Registered</td>
            <td>@Model.data.alert_registered</td>
        </tr>
        <tr>
            <td>Caller ID External</td>
            <td>@Model.data.callerid_external</td>
        </tr>
        <tr>
            <td>Emergency Address Other</td>
            <td>@Model.data.emergency_address_other</td>
        </tr>
        <tr>
            <td>Display</td>
            <td>@Model.data.display</td>
        </tr>
        <tr>
</table>